on:
  push:
    branches:
    - master
  pull_request:
name: Integration tests against emulator
jobs:
  units:
    runs-on: ubuntu-latest

    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'adopt'
        cache: 'maven'
    - run: java -version
    - run: gcloud config set auth/disable_credentials true
    - run: gcloud config set project test-project
    - run: gcloud config set api_endpoint_overrides/spanner http://localhost:9020/
    - run: gcloud spanner instances create test-instance --config=emulator-config --nodes=1 --description="TestInstance"
    - run: mvn --batch-mode integration-test failsafe:verify
      env:
        JOB_TYPE: test
        SPANNER_EMULATOR_HOST: localhost:9010
        GOOGLE_CLOUD_PROJECT: test-project
    - run: mvn --batch-mode integration-test failsafe:verify -DSPANNER_USE_JDBC=true
      env:
        JOB_TYPE: test
        SPANNER_EMULATOR_HOST: localhost:9010
        GOOGLE_CLOUD_PROJECT: test-project
